{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0.0",
    "title": "Cazana API",
    "description": "Cazana public API.\n\n⚠️ **Security Requirement:** You must use **TLS version 1.2 or greater**.\n\n**API Key Requirement:** You will be provided with an API key which **must be sent in the request**.\n\n**Production Endpoint:** `https://api.cazana.com`\n\n**UAT Endpoint:** `https://api.cazana.com/uat`\n",
    "x-logo": {
      "url": "static/cazana-logo.png"
    }
  },
  "tags": [
    {
      "name": "1.0",
      "description": "Version 1.0"
    },
    {
      "name": "1.1",
      "description": "Version 1.1"
    },
    {
      "name": "1.2",
      "description": "Version 1.2"
    },
    {
      "name": "2.0",
      "description": "Version 2.0"
    },
    {
      "name": "2.1",
      "description": "Version 2.1"
    },
    {
      "name": "3.0",
      "description": "Version 3.0"
    },
    {
      "name": "Embedded Companion"
    }
  ],
  "servers": [
    {
      "url": "https://api.cazana.com",
      "description": "Production"
    },
    {
      "url": "https://api.cazana.com/uat",
      "description": "UAT"
    }
  ],
  "components": {
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "query",
        "description": "To use any of our APIs you will need to provide the key that was given to you as a query parameter.\n",
        "name": "key"
      },
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "in": "header",
        "description": "You can also provide your key as a Bearer token using the Authorization header.\n",
        "name": "Authorization"
      }
    },
    "schemas": {
      "similar-listings-without-vrm": {
        "type": "object",
        "properties": {
          "page": {
            "type": "number",
            "description": "Use with `limit` for custom pagination",
            "example": 1
          },
          "limit": {
            "type": "number",
            "description": "Use with `page` for custom pagination",
            "example": 20,
            "default": 10,
            "minimum": 10,
            "maximum": 20
          },
          "sort": {
            "type": "string",
            "description": "Sort listings by a particular characteristic. `postcode` is required when using `distance` sort. `distance` is measured in miles",
            "enum": [
              "age",
              "price",
              "mileage",
              "distance"
            ]
          },
          "order": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          "postcode": {
            "type": "string",
            "description": "Required if using *distance* `sort` or `filter`",
            "example": "EC1Y 2AA"
          },
          "filters": {
            "type": "object",
            "properties": {
              "colours": {
                "type": "array",
                "items": {
                  "type": "string",
                  "example": "brown"
                }
              },
              "years": {
                "type": "array",
                "description": "Vehicle year",
                "items": {
                  "type": "number",
                  "example": 2001
                }
              },
              "live": {
                "type": "boolean",
                "description": "Listing status (omit to return all results)",
                "example": true
              },
              "keywords": {
                "type": "array",
                "description": "Search advert text by keyword (only listings with advert text containing **all** keywords returned)",
                "items": {
                  "type": "string",
                  "example": "Alloy wheels, leather seats, sunroof"
                }
              },
              "mileage": {
                "type": "object",
                "description": "Listing mileage",
                "properties": {
                  "min": {
                    "type": "number",
                    "example": 1234,
                    "minimum": 0
                  },
                  "max": {
                    "type": "number",
                    "example": 54321
                  }
                }
              },
              "distance": {
                "type": "number",
                "description": "Filter listings outside of requested radius (miles)",
                "example": 999,
                "minimum": 0
              },
              "dealerTypes": {
                "type": "array",
                "description": "Filter by dealer type (omit to return all results)",
                "items": {
                  "type": "string",
                  "enum": [
                    "franchise",
                    "independent",
                    "supermarket"
                  ]
                }
              },
              "youngUsed": {
                "type": "boolean",
                "description": "Filter by young-used status (omit to return all results)",
                "example": false
              },
              "trade": {
                "type": "boolean",
                "description": "Filter by trade `true` or private `false` listings (omit to return all results)"
              }
            }
          }
        }
      },
      "advert-feature-set": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "BMW"
          },
          "model": {
            "type": "string",
            "example": "3 Series Hybrid PHEV"
          },
          "trim": {
            "type": "string",
            "example": "330e M Sport"
          },
          "copart": {
            "type": "boolean",
            "example": false
          },
          "features": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Basic Cruise control"
            }
          },
          "featuresCount": {
            "type": "number",
            "example": 5
          },
          "featuresWords": {
            "type": "string",
            "example": "Cruise"
          },
          "marketplace": {
            "type": "boolean",
            "example": false
          },
          "modifications": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "exhaust"
            }
          },
          "modificationsCount": {
            "type": "number",
            "example": 1
          },
          "modificationsWords": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "exhaust"
            }
          },
          "serviceHistory": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Full service history"
            }
          },
          "serviceHistoryCount": {
            "type": "number",
            "example": 1
          },
          "serviceHistoryWords": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Full service history"
            }
          }
        }
      },
      "keepers": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "BMW"
          },
          "model": {
            "type": "string",
            "example": "6 Series Coupe"
          },
          "trim": {
            "type": "string",
            "example": "640 M Sport"
          },
          "firstRegistration": {
            "type": "string",
            "format": "datetime",
            "example": "2002-03-28 00:00:00"
          },
          "previousOwners": {
            "type": "integer",
            "example": 8,
            "nullable": true
          },
          "keeperAcquisition": {
            "type": "string",
            "format": "datetime",
            "example": "2018-04-17 00:00:00"
          },
          "previousKeeper": {
            "type": "string",
            "format": "datetime",
            "example": "2011-04-09 00:00:00",
            "nullable": true
          },
          "previousKeeperDisposal": {
            "type": "string",
            "format": "datetime",
            "example": "2018-04-17 00:00:00",
            "nullable": true
          }
        }
      },
      "market-demand": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "Audi"
          },
          "model": {
            "type": "string",
            "example": "A4"
          },
          "score": {
            "type": "integer",
            "description": "A higher Market Demand score means that similar vehicles in the market have recently sold well relative to how often they were listed.",
            "minimum": 0,
            "maximum": 100,
            "example": 44
          }
        }
      },
      "mileage": {
        "type": "object",
        "properties": {
          "vrm": {
            "type": "string",
            "example": "AAAAA"
          },
          "mileage": {
            "type": "integer",
            "example": 30000
          }
        }
      },
      "mot": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "Audi"
          },
          "model": {
            "type": "string",
            "example": "A4"
          },
          "trim": {
            "type": "string",
            "example": "Ultra SE"
          },
          "motData": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "completedDate": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2019-08-06T12:49:27+00:00"
                    },
                    "expiryDate": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2020-08-05T00:00:00+00:00",
                      "nullable": true
                    },
                    "testNumber": {
                      "type": "integer",
                      "example": 174381758512
                    },
                    "odomoter": {
                      "type": "object",
                      "properties": {
                        "unit": {
                          "type": "string",
                          "example": "mi"
                        },
                        "value": {
                          "type": "integer",
                          "example": 41890
                        }
                      }
                    },
                    "passed": {
                      "type": "boolean",
                      "example": true
                    },
                    "rfcAndComments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string",
                            "example": "Nearside Rear Tyre worn close to legal limit/worn on edge (5.2.3 (e))"
                          },
                          "type": {
                            "type": "string",
                            "example": "ADVISORY"
                          }
                        }
                      }
                    }
                  }
                }
              },
              {
                "type": "object",
                "properties": {
                  "completedDate": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2019-08-06T12:49:27+00:00"
                  },
                  "expiryDate": {
                    "type": "string",
                    "format": "date-time",
                    "example": "2020-08-05T00:00:00+00:00",
                    "nullable": true
                  },
                  "testNumber": {
                    "type": "integer",
                    "example": 174381758512
                  },
                  "odometer": {
                    "type": "object",
                    "properties": {
                      "unit": {
                        "type": "string",
                        "example": "mi"
                      },
                      "value": {
                        "type": "integer",
                        "example": 41890
                      }
                    }
                  },
                  "passed": {
                    "type": "boolean",
                    "example": true
                  },
                  "rfcAndComments": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string",
                          "example": "Nearside Rear Tyre worn close to legal limit/worn on edge (5.2.3 (e))"
                        },
                        "type": {
                          "type": "string",
                          "example": "ADVISORY"
                        }
                      }
                    }
                  }
                }
              }
            ]
          }
        }
      },
      "mot-feature-set": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "Saab"
          },
          "model": {
            "type": "string",
            "example": "93 Cabriolet"
          },
          "trim": {
            "type": "string",
            "example": "Aero"
          },
          "passed": {
            "type": "boolean",
            "example": true
          },
          "averageAnnualMileage": {
            "type": "number",
            "format": "float",
            "example": 11861.2
          },
          "averageDangerous": {
            "type": "number",
            "format": "float",
            "example": 0
          },
          "averageMajor": {
            "type": "number",
            "format": "float",
            "example": 0.4
          },
          "averageMinor": {
            "type": "number",
            "format": "float",
            "example": 0.4
          },
          "averageAdvisories": {
            "type": "number",
            "format": "float",
            "example": 2.3
          },
          "averageFailure": {
            "type": "number",
            "format": "float",
            "example": 0.4
          },
          "failedMots": {
            "type": "integer",
            "example": 6
          },
          "passedMots": {
            "type": "integer",
            "example": 11
          },
          "totalDangerous": {
            "type": "integer",
            "example": 0
          },
          "totalMajor": {
            "type": "integer",
            "example": 4
          },
          "totalMinor": {
            "type": "integer",
            "example": 4
          },
          "averageAnnualFailRate": {
            "type": "number",
            "format": "float",
            "example": 0.35
          },
          "recentDangerous": {
            "type": "integer",
            "example": 0
          },
          "recentMajor": {
            "type": "integer",
            "example": 4
          },
          "recentMinor": {
            "type": "integer",
            "example": 4
          },
          "mots": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "firstTimePass": {
                  "type": "boolean",
                  "example": false
                },
                "completedDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2019-05-15T13:30:41+00:00"
                },
                "advisoriesCount": {
                  "type": "integer",
                  "example": 6
                },
                "failureCount": {
                  "type": "integer",
                  "example": 1
                },
                "keywordsCount": {
                  "type": "integer",
                  "example": 0
                },
                "mileage": {
                  "type": "integer",
                  "example": 124737
                },
                "dangerousCount": {
                  "type": "integer",
                  "example": 0
                },
                "majorCount": {
                  "type": "integer",
                  "example": 4
                },
                "minorCount": {
                  "type": "integer",
                  "example": 4
                },
                "failureTrend": {
                  "type": "integer",
                  "example": 1
                },
                "advisoriesTrend": {
                  "type": "integer",
                  "example": 6
                },
                "annualMileage": {
                  "type": "integer",
                  "example": 10581
                }
              }
            }
          }
        }
      },
      "sale-events": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "Ford"
          },
          "model": {
            "type": "string",
            "nullable": true,
            "example": "Fiesta"
          },
          "trim": {
            "type": "string",
            "nullable": true,
            "example": "ST"
          },
          "saleEvents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "mileage": {
                  "type": "number",
                  "nullable": true,
                  "example": 15051
                },
                "vrm": {
                  "type": "string",
                  "example": "AAAAA"
                },
                "firstSeen": {
                  "type": "string",
                  "example": "2022-09-05T00:00:00"
                },
                "lastSeen": {
                  "type": "string",
                  "example": "2022-10-02T00:00:00"
                },
                "adText": {
                  "type": "string",
                  "nullable": true,
                  "example": "17\\\" alloy wheels, front and rear park sensors, LED headlights, electric folding mirrors, automatic lights, multifunction steering wheel, cruise control, drive select driving modes, DAB/FM/CD/SD, satellite navigation, bluetooth, push button start, stop start"
                },
                "businessName": {
                  "type": "string",
                  "nullable": true,
                  "example": "CZ Cars"
                },
                "dealerType": {
                  "type": "string",
                  "nullable": true,
                  "enum": [
                    "Private",
                    "Independent",
                    "Franchise",
                    "Supermarket"
                  ],
                  "example": "Private"
                },
                "price": {
                  "type": "number",
                  "nullable": true,
                  "example": 25367
                },
                "photos": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "https://d2awd9skw0rsue.cloudfront.net/f2c4c5d6ee3afe8ccc283b9262a8e8d1/1.jpg"
                  }
                }
              }
            }
          }
        }
      },
      "security-jlr": {
        "type": "object",
        "properties": {
          "vrm": {
            "type": "string",
            "nullable": true,
            "example": "AAAAA",
            "description": "Vehicle Registration Mark"
          },
          "vin": {
            "type": "string",
            "nullable": true,
            "description": "Vehicle Identification Number",
            "example": "AAAAAAAAAAAAAAAAAA"
          },
          "make": {
            "type": "string",
            "nullable": true,
            "example": "Land Rover",
            "description": "The make of the vehicle"
          },
          "jaguarLandRover": {
            "type": "object",
            "nullable": true,
            "properties": {
              "bodyControlModule": {
                "type": "object",
                "properties": {
                  "locked": {
                    "type": "string",
                    "enum": [
                      "Yes",
                      "No",
                      "NA",
                      null
                    ],
                    "nullable": true,
                    "description": "Indicates whether the Body Control Module of the vehicle has been locked down. If the BCM is locked down, the vehicle is not vulnerable to the 'BCM hack' type of theft. NA means that the vehicle is not currently capable of having the update."
                  },
                  "inCampaignScope": {
                    "type": "string",
                    "enum": [
                      "Yes",
                      null
                    ],
                    "description": "Indicates whether the vehicle is in scope of the BCM Security Campaign i.e. whether it is eligible to have the BCM update at a JLR Retailer or via the JLR Assistance team.",
                    "nullable": true
                  },
                  "campaignStatus": {
                    "type": "string",
                    "enum": [
                      "Open",
                      null
                    ],
                    "description": "Indicates whether the BCM Security Campaign is Open for the vehicle. If the status is open, the vehicle has not yet had the BCM update at a JLR Retailer.",
                    "nullable": true
                  }
                }
              },
              "canHack": {
                "type": "object",
                "properties": {
                  "locked": {
                    "type": "string",
                    "enum": [
                      "Yes_Interim",
                      "Yes",
                      "No",
                      "NA",
                      null
                    ],
                    "nullable": true,
                    "description": "Indicates whether the vehicle has had the Can Hack Fix which prevents a vehicle being driven away via the Can Hack method or the Can Hack Interim Fix which prevents a vehicle being accessed via the Can Hack method. NA means that the vehicle is not currently capable of having a Can Hack update."
                  },
                  "inCampaignScope": {
                    "type": "string",
                    "enum": [
                      "Yes",
                      null
                    ],
                    "description": "Indicates whether the vehicle is in scope of a Can Hack Security Campaign i.e. whether it is eligible to have a Can Hack update at a JLR Retailer or via the JLR Assistance team.",
                    "nullable": true
                  },
                  "campaignStatus": {
                    "type": "string",
                    "enum": [
                      "Open_Interim",
                      "Open",
                      null
                    ],
                    "description": "Indicates whether a Can Hack Security Campaign is Open for the vehicle and which update the vehicle is eligible for. If the status is Open, the vehicle is eligble to have the Can Hack fix at a JLR Retailer. If the status is Open_Interim, the vehicle is eligible to have the Can Hack Interim fix at a JLR retailer.",
                    "nullable": true
                  }
                }
              },
              "uwbStatus": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "Yes",
                  "No",
                  "NA",
                  null
                ],
                "description": "Indicates whether Ultra Wide Band locking is enabled on a vehicle or not."
              },
              "sotaEnabled": {
                "type": "string",
                "nullable": true
              },
              "customerObjection": {
                "type": "boolean",
                "nullable": false,
                "enum": [
                  true,
                  false
                ],
                "example": false,
                "description": "Indicates whether the registered keeper of the vehicle has objected to JLR sharing vehicle security feature data with third parties."
              }
            }
          }
        },
        "examples": {
          "With Jaguar Land Rover security data": {
            "value": {
              "vrm": "AAAAAA",
              "vin": "AAAAAAAAAAAAAAAAAA",
              "make": "Jaguar",
              "jaguarLandRover": {
                "bodyControlModule": {
                  "locked": "No",
                  "inCampaignScope": "No",
                  "campaignStatus": "Open"
                },
                "canHack": {
                  "locked": "NA",
                  "inCampaignScope": "No",
                  "campaignStatus": null
                },
                "uwbStatus": null,
                "sotaEnabled": null,
                "customerObjection": false
              }
            }
          },
          "Jaguar Land Rover with customer objection": {
            "value": {
              "vrm": "AAAAA",
              "vin": "AAAAAAAAAAAAAAAAAA",
              "make": "Jaguar",
              "jaguarLandRover": {
                "bodyControlModule": {
                  "locked": null,
                  "inCampaignScope": null,
                  "campaignStatus": null
                },
                "canHack": {
                  "locked": null,
                  "inCampaignScope": null,
                  "campaignStatus": null
                },
                "uwbStatus": null,
                "sotaEnabled": null,
                "customerObjection": true
              }
            }
          },
          "No Jaguar Land Rover security data": {
            "value": {
              "vrm": "AAAAA",
              "vin": "AAAAAAAAAAAAAAAAAA",
              "make": "Land Rover",
              "jaguarLandRover": null
            }
          }
        }
      },
      "spec": {
        "type": "object",
        "properties": {
          "spec": {
            "type": "object",
            "properties": {
              "cid": {
                "type": "integer",
                "example": 7381,
                "nullable": true
              },
              "year": {
                "type": "integer",
                "example": 2014,
                "nullable": true
              },
              "make": {
                "type": "string",
                "example": "Ford"
              },
              "model": {
                "type": "string",
                "example": "Ranger",
                "nullable": true
              },
              "type": {
                "type": "string",
                "example": "LCV",
                "nullable": true
              },
              "derivative": {
                "type": "string",
                "example": "Wildtrak",
                "nullable": true
              },
              "bodyStyle": {
                "type": "string",
                "example": "Double Cab Pick Up",
                "nullable": true
              },
              "steeringPosition": {
                "type": "string",
                "example": "Right Hand Drive",
                "nullable": true
              },
              "transmission": {
                "type": "string",
                "example": "Automatic",
                "nullable": true
              },
              "gears": {
                "type": "integer",
                "example": 6,
                "nullable": true
              },
              "doors": {
                "type": "integer",
                "example": 4,
                "nullable": true
              },
              "seats": {
                "type": "integer",
                "example": 5,
                "nullable": true
              },
              "fuelType": {
                "type": "string",
                "example": "Diesel",
                "nullable": true
              },
              "fuelDelivery": {
                "type": "string",
                "example": "Turbo",
                "nullable": true
              },
              "engineCapacity": {
                "type": "integer",
                "example": 3198,
                "nullable": true
              },
              "enginePosition": {
                "type": "string",
                "example": null,
                "nullable": true
              },
              "numberValves": {
                "type": "integer",
                "example": 20,
                "nullable": true
              },
              "numberCylinders": {
                "type": "integer",
                "example": 5,
                "nullable": true
              },
              "cylinderLayout": {
                "type": "string",
                "example": null,
                "nullable": true
              },
              "powerOutputBhp": {
                "type": "integer",
                "example": 200,
                "nullable": true
              },
              "powerOutputKw": {
                "type": "integer",
                "example": 149,
                "nullable": true
              },
              "wheelbase": {
                "type": "integer",
                "example": 3220,
                "nullable": true
              },
              "builtFrom": {
                "type": "string",
                "format": "date-time",
                "example": "2011-10-01 00:00:00",
                "nullable": true
              },
              "builtTo": {
                "type": "string",
                "format": "date-time",
                "example": "2015-08-31 00:00:00",
                "nullable": true
              },
              "co2Emissions": {
                "type": "integer",
                "example": 265,
                "nullable": true
              },
              "yearlyTaxCost": {
                "type": "integer",
                "example": 155,
                "nullable": true
              },
              "scrapped": {
                "type": "boolean",
                "example": false
              },
              "imported": {
                "type": "boolean",
                "example": false
              }
            }
          }
        }
      },
      "status": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "Fiat"
          },
          "model": {
            "type": "string",
            "example": "Punto"
          },
          "derivative": {
            "type": "string",
            "example": "Entry"
          },
          "yearOfManufacture": {
            "type": "integer",
            "example": 2002
          },
          "mot": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "Valid",
                  "Not valid",
                  "No results returned",
                  "No details held by DVLA"
                ]
              },
              "expiryDate": {
                "type": "string",
                "format": "date",
                "example": "2020-10-03"
              }
            }
          },
          "tax": {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": [
                  "SORN",
                  "Not Taxed for on Road Use",
                  "Untaxed",
                  "Taxed"
                ]
              },
              "dueDate": {
                "type": "string",
                "example": null
              }
            }
          },
          "imported": {
            "type": "boolean",
            "example": false
          },
          "scrapped": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "valuation": {
        "type": "object",
        "properties": {
          "cid": {
            "type": "number",
            "example": 1234567
          },
          "make": {
            "type": "string",
            "example": "Jaguar"
          },
          "model": {
            "type": "string",
            "example": "F Pace"
          },
          "ocn": {
            "type": "number",
            "example": 48580
          },
          "daysToSale": {
            "type": "number",
            "example": 40
          },
          "mileage": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "example": 9999
              },
              "estimate": {
                "type": "boolean",
                "example": true
              }
            }
          },
          "youngUsed": {
            "type": "number",
            "example": 41568
          },
          "valuation": {
            "type": "object",
            "properties": {
              "retail": {
                "type": "number",
                "example": 40352
              },
              "trade": {
                "type": "number",
                "example": 39440
              },
              "independent": {
                "type": "number",
                "example": 38766
              },
              "supermarket": {
                "type": "number",
                "example": 38997
              },
              "franchise": {
                "type": "number",
                "example": 41214
              },
              "grossProfit": {
                "type": "object",
                "properties": {
                  "profit": {
                    "type": "number",
                    "example": 6053
                  },
                  "percentage": {
                    "type": "number",
                    "example": 15
                  }
                }
              },
              "date": {
                "type": "string",
                "format": "date",
                "example": "2020-09-25"
              },
              "percentOfOcn": {
                "type": "number",
                "format": "float",
                "example": 83.06
              },
              "confidence": {
                "type": "object",
                "properties": {
                  "lower": {
                    "type": "number",
                    "example": 36572
                  },
                  "upper": {
                    "type": "number",
                    "example": 41453
                  }
                }
              }
            }
          },
          "stockingDepreciation": {
            "type": "string",
            "example": "-£718"
          }
        }
      },
      "vrms": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "Ford"
          },
          "model": {
            "type": "string",
            "example": "Fiesta"
          },
          "trim": {
            "type": "string",
            "example": "ST"
          },
          "vrmChanges": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "vrm": {
                  "type": "string",
                  "example": "AAAAA"
                },
                "onVehicle": {
                  "type": "string",
                  "format": "date",
                  "example": "2022-08-16"
                },
                "offVehicle": {
                  "type": "string",
                  "format": "date",
                  "nullable": true,
                  "example": null
                },
                "previousVrm": {
                  "type": "string",
                  "example": "BBBBB",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "vrm-to-vin": {
        "type": "object",
        "properties": {
          "vin": {
            "type": "string",
            "example": "TESTPAMW7MA307266"
          },
          "make": {
            "type": "string",
            "example": "Audi"
          },
          "model": {
            "type": "string",
            "example": "A4",
            "nullable": true
          }
        }
      },
      "image": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "Saab"
          },
          "model": {
            "type": "string",
            "example": "93 Cabriolet"
          },
          "cid": {
            "type": "integer",
            "example": 12901
          },
          "image": {
            "type": "string",
            "example": "https://example.com/images/car123.jpg"
          }
        }
      },
      "abi": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "Audi"
          },
          "model": {
            "type": "string",
            "example": "A4"
          },
          "abiCode": {
            "type": "string",
            "example": 17737001,
            "nullable": true
          },
          "gr20Actual": {
            "type": "string",
            "example": "7A",
            "nullable": true
          },
          "gr50Actual": {
            "type": "string",
            "example": "16A",
            "nullable": true
          }
        }
      },
      "sale-events-2_0": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "Fiat"
          },
          "model": {
            "type": "string",
            "nullable": true,
            "example": "Punto"
          },
          "trim": {
            "type": "string",
            "nullable": true,
            "example": "Entry"
          },
          "saleEvents": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sold": {
                  "type": "boolean",
                  "example": false
                },
                "mileage": {
                  "type": "number",
                  "nullable": true,
                  "example": 12345
                },
                "vrm": {
                  "type": "string",
                  "example": "AAAAA"
                },
                "firstSeen": {
                  "type": "string",
                  "example": "2020-09-19T09:34:43"
                },
                "updatedAt": {
                  "type": "string",
                  "example": "2020-10-16T19:39:08"
                },
                "adText": {
                  "type": "string",
                  "nullable": true,
                  "example": "17\\\" alloy wheels, front and rear park sensors, LED headlights, electric folding mirrors, automatic lights, multifunction steering wheel, cruise control, drive select driving modes, DAB/FM/CD/SD, satellite navigation, bluetooth, push button start, stop start"
                },
                "businessName": {
                  "type": "string",
                  "nullable": true,
                  "example": "CZ Cars"
                },
                "dealerType": {
                  "type": "string",
                  "nullable": true,
                  "enum": [
                    "Private",
                    "Independent",
                    "Franchise",
                    "Supermarket"
                  ]
                },
                "price": {
                  "type": "number",
                  "nullable": true,
                  "example": 11999
                },
                "originalPrice": {
                  "type": "number",
                  "nullable": true,
                  "example": 12999
                },
                "originalMileage": {
                  "type": "number",
                  "nullable": true,
                  "example": 12345
                },
                "totalListingCount": {
                  "type": "number",
                  "example": 1
                },
                "activeListingCount": {
                  "type": "number",
                  "example": 1
                },
                "photos": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "https://d2awd9skw0rsue.cloudfront.net/f2c4c5d6ee3afe8ccc283b9262a8e8d1/1.jpg"
                  }
                }
              }
            }
          }
        }
      },
      "security-tracker": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "Model"
          },
          "vrm": {
            "type": "string",
            "example": "AAAAAA"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "example": null
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "example": "2006-05-12"
          },
          "subscriptionStatus": {
            "type": "string",
            "enum": [
              "Active",
              "Cancelled",
              "Renewed",
              "Inactive",
              "No current subs",
              "Draft",
              "Pending Activation",
              "Vehicle Stolen"
            ],
            "example": "Cancelled"
          },
          "vin": {
            "type": "string",
            "example": "AAAAAAAAAAAAAAAAAA"
          },
          "serial": {
            "type": "string",
            "example": "0000000001"
          },
          "make": {
            "type": "string",
            "example": "MAKE"
          },
          "installDate": {
            "type": "string",
            "format": "date",
            "example": "1996-10-18"
          },
          "hardwareType": {
            "type": "string",
            "nullable": true,
            "enum": [
              "Retrieve",
              "Monitor",
              "S5",
              "GPS"
            ],
            "example": "Retrieve"
          }
        }
      },
      "similar-listings": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "example": 73
          },
          "page": {
            "type": "number",
            "example": 1
          },
          "limit": {
            "type": "number",
            "example": 10
          },
          "listings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "example": "Ford Fiesta ST"
                },
                "year": {
                  "type": "number",
                  "example": 2001
                },
                "firstSeen": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2020-07-25T16:31:51"
                },
                "colour": {
                  "type": "string",
                  "example": "Marigold"
                },
                "fuelType": {
                  "type": "string",
                  "example": "Petrol"
                },
                "price": {
                  "type": "number",
                  "example": 4795
                },
                "mileage": {
                  "type": "number",
                  "example": 114999
                },
                "dealer": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "Independent"
                    },
                    "name": {
                      "type": "string",
                      "example": "Bob's Fords"
                    }
                  }
                },
                "adText": {
                  "type": "string",
                  "example": "2001 Ford Fiesta ST 150 3dr 1.6 16v 150bhp 5 speed manual Met Black , original alloys, 2 keys, 2 owners, 30,030 miles"
                },
                "location": {
                  "type": "string",
                  "example": "Slough on Thames"
                },
                "vrm": {
                  "type": "string",
                  "example": "AAAAA"
                },
                "soldDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2022-10-02T00:00:00"
                }
              }
            }
          }
        }
      },
      "similar-listings-2_1": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "example": 73
          },
          "page": {
            "type": "number",
            "example": 1
          },
          "limit": {
            "type": "number",
            "example": 10
          },
          "listings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string",
                  "example": "Ford Fiesta ST"
                },
                "year": {
                  "type": "number",
                  "example": 2001
                },
                "firstSeen": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2022-09-05T00:00:00"
                },
                "colour": {
                  "type": "string",
                  "example": "Black"
                },
                "fuelType": {
                  "type": "string",
                  "example": "Petrol"
                },
                "price": {
                  "type": "number",
                  "example": 4795
                },
                "mileage": {
                  "type": "number",
                  "example": 114999
                },
                "dealer": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "Independent"
                    },
                    "name": {
                      "type": "string",
                      "example": "Bob's Fords"
                    }
                  }
                },
                "adText": {
                  "type": "string",
                  "example": "2001 Ford Fiesta ST 150 3dr 1.6 16v 150bhp 5 speed manual Met Black , original alloys, 2 keys, 2 owners, 30,030 miles"
                },
                "location": {
                  "type": "string",
                  "nullable": true,
                  "example": "Slough on Thames"
                },
                "postcode": {
                  "type": "string",
                  "nullable": true,
                  "example": "EC1Y2AA"
                },
                "vrm": {
                  "type": "string",
                  "example": "AAAAA"
                },
                "soldDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2022-10-02T00:00:00"
                }
              }
            }
          }
        }
      },
      "spec-1_1": {
        "type": "object",
        "properties": {
          "spec": {
            "type": "object",
            "properties": {
              "cid": {
                "type": "integer",
                "example": 7381,
                "nullable": true
              },
              "year": {
                "type": "integer",
                "example": 2014,
                "nullable": true
              },
              "make": {
                "type": "string",
                "example": "Ford"
              },
              "model": {
                "type": "string",
                "example": "Ranger",
                "nullable": true
              },
              "type": {
                "type": "string",
                "example": "LCV",
                "nullable": true
              },
              "derivative": {
                "type": "string",
                "example": "Wildtrak",
                "nullable": true
              },
              "bodyStyle": {
                "type": "string",
                "example": "Double Cab Pick Up",
                "nullable": true
              },
              "steeringPosition": {
                "type": "string",
                "example": "Right Hand Drive",
                "nullable": true
              },
              "transmission": {
                "type": "string",
                "example": "Automatic",
                "nullable": true
              },
              "gears": {
                "type": "integer",
                "example": 6,
                "nullable": true
              },
              "doors": {
                "type": "integer",
                "example": 4,
                "nullable": true
              },
              "seats": {
                "type": "integer",
                "example": 5,
                "nullable": true
              },
              "fuelType": {
                "type": "string",
                "example": "Diesel",
                "nullable": true
              },
              "fuelDelivery": {
                "type": "string",
                "example": "Turbo",
                "nullable": true
              },
              "engineCapacity": {
                "type": "integer",
                "example": 3198,
                "nullable": true
              },
              "enginePosition": {
                "type": "string",
                "example": null,
                "nullable": true
              },
              "numberValves": {
                "type": "integer",
                "example": 20,
                "nullable": true
              },
              "numberCylinders": {
                "type": "integer",
                "example": 5,
                "nullable": true
              },
              "cylinderLayout": {
                "type": "string",
                "example": null,
                "nullable": true
              },
              "powerOutputBhp": {
                "type": "integer",
                "example": 200,
                "nullable": true
              },
              "powerOutputKw": {
                "type": "integer",
                "example": 149,
                "nullable": true
              },
              "wheelbase": {
                "type": "integer",
                "example": 3220,
                "nullable": true
              },
              "builtFrom": {
                "type": "string",
                "format": "date-time",
                "example": "2011-10-01 00:00:00",
                "nullable": true
              },
              "builtTo": {
                "type": "string",
                "format": "date-time",
                "example": "2015-08-31 00:00:00",
                "nullable": true
              },
              "co2Emissions": {
                "type": "integer",
                "example": 265,
                "nullable": true
              },
              "yearlyTaxCost": {
                "type": "integer",
                "example": 155,
                "nullable": true
              },
              "scrapped": {
                "type": "boolean",
                "example": false
              },
              "imported": {
                "type": "boolean",
                "example": false
              },
              "colour": {
                "type": "string",
                "example": "Orange",
                "nullable": true
              },
              "wheelPlan": {
                "type": "string",
                "example": "2 Axle Rigid Body",
                "nullable": true
              }
            }
          }
        }
      },
      "spec-1_2": {
        "type": "object",
        "properties": {
          "spec": {
            "type": "object",
            "properties": {
              "bodyStyle": {
                "type": "string",
                "enum": [
                  "Adventure",
                  "Box Van",
                  "Cabriolet",
                  "Camper Van",
                  "Car Derived Van",
                  "Chassis Cab",
                  "Combi Van",
                  "Convertible",
                  "Coupe",
                  "Crew Van",
                  "Cruiser",
                  "Curtainsided",
                  "Custom",
                  "Double Cab Chassis",
                  "Double Cab Dropside Truck",
                  "Double Cab Pick Up",
                  "Double Cab Tipper",
                  "Dropside Truck",
                  "Enduro",
                  "Estate",
                  "Extra High Roof Combi Van",
                  "Extra High Roof Crew Van",
                  "Extra High Roof Minibus",
                  "Extra High Roof Panel Van",
                  "Hardtop",
                  "Hardtop Van",
                  "Hatchback",
                  "Heavy Duty Pick Up",
                  "High Roof Box Van",
                  "High Roof Combi Van",
                  "High Roof Crew Van",
                  "High Roof Minibus",
                  "High Roof Panel Van",
                  "High Roof Window Van",
                  "King Cab Chassis",
                  "King Cab Pick Up",
                  "Large MPV",
                  "Limousine",
                  "Low Frame Chassis Cab",
                  "Luton Van",
                  "Maxi Scooter",
                  "Medium MPV",
                  "Medium Roof Combi Van",
                  "Medium Roof Crew Van",
                  "Medium Roof Minibus",
                  "Medium Roof Panel Van",
                  "Medium Roof Platform Cab",
                  "Medium Roof Window Van",
                  "Minibus",
                  "Motorhome",
                  "Panel Van",
                  "Pick Up",
                  "Platform Cab",
                  "Quad",
                  "Refrigerated Box Van",
                  "Roadster",
                  "Saloon",
                  "Scooter",
                  "Small MPV",
                  "Soft top",
                  "Sports",
                  "Sports Tourer",
                  "Station Wagon",
                  "Super Cab RAP Pick Up",
                  "Supermoto",
                  "Supersports",
                  "SUV",
                  "SUV Soft top",
                  "Targa",
                  "Tipper",
                  "Tipper Pick Up",
                  "Tourer",
                  "Trials",
                  "Window Van"
                ],
                "example": "Coupe",
                "nullable": true
              },
              "bore": {
                "type": "integer",
                "example": 76,
                "nullable": true
              },
              "builtFrom": {
                "type": "string",
                "format": "date-time",
                "example": "2012-04-01 00:00:00",
                "nullable": true
              },
              "builtTo": {
                "type": "string",
                "format": "date-time",
                "example": "2013-12-31 00:00:00",
                "nullable": true
              },
              "cid": {
                "type": "integer",
                "example": 4319,
                "nullable": true
              },
              "co2Emissions": {
                "type": "integer",
                "example": 139,
                "nullable": true
              },
              "co2EmissionsGKm": {
                "type": "integer",
                "example": 139,
                "nullable": true
              },
              "colour": {
                "type": "string",
                "enum": [
                  "Beige",
                  "Black",
                  "Blue",
                  "Bronze",
                  "Brown",
                  "Cream",
                  "Gold",
                  "Green",
                  "Grey",
                  "Maroon",
                  "Multi Colour",
                  "Orange",
                  "Pink",
                  "Purple",
                  "Red",
                  "Silver",
                  "Turquoise",
                  "White",
                  "Yellow",
                  "Not stated"
                ],
                "example": "Silver",
                "nullable": true
              },
              "colourCode": {
                "type": "string",
                "enum": [
                  "A",
                  "AG",
                  "AM",
                  "AN",
                  "AP",
                  "AV",
                  "B",
                  "BN",
                  "BP",
                  "C",
                  "CC",
                  "CE",
                  "CF",
                  "CH",
                  "CJ",
                  "CL",
                  "CM",
                  "CN",
                  "CP",
                  "CS",
                  "CV",
                  "D",
                  "DL",
                  "DN",
                  "E",
                  "EL",
                  "EM",
                  "EP",
                  "EV",
                  "F",
                  "FH",
                  "FJ",
                  "FL",
                  "FM",
                  "FN",
                  "FP",
                  "G",
                  "GJ",
                  "GL",
                  "GM",
                  "GP",
                  "GS",
                  "H",
                  "HC",
                  "HF",
                  "HL",
                  "HM",
                  "HN",
                  "HP",
                  "HV",
                  "J",
                  "JC",
                  "JE",
                  "JF",
                  "JH",
                  "JJ",
                  "JL",
                  "JM",
                  "JN",
                  "JP",
                  "JS",
                  "JV",
                  "K",
                  "KH",
                  "KM",
                  "KN",
                  "KP",
                  "L",
                  "LA",
                  "LC",
                  "LE",
                  "LG",
                  "LH",
                  "LJ",
                  "LL",
                  "LM",
                  "LN",
                  "LP",
                  "LV",
                  "M",
                  "MC",
                  "ME",
                  "MH",
                  "MJ",
                  "ML",
                  "MM",
                  "MN",
                  "MP",
                  "N",
                  "NA",
                  "NB",
                  "NC",
                  "ND",
                  "NE",
                  "NF",
                  "NG",
                  "NH",
                  "NJ",
                  "NK",
                  "NL",
                  "NM",
                  "NN",
                  "NP",
                  "NT",
                  "NU",
                  "P",
                  "PA",
                  "PC",
                  "PD",
                  "PE",
                  "PF",
                  "PG",
                  "PH",
                  "PJ",
                  "PL",
                  "PM",
                  "PN",
                  "PP",
                  "PS",
                  "PV",
                  "R",
                  "S",
                  "SA",
                  "SH",
                  "SM",
                  "SN",
                  "SP",
                  "SV",
                  "T",
                  "TL",
                  "TM",
                  "TN",
                  "U",
                  "UP",
                  "V",
                  "VA",
                  "VE",
                  "VJ",
                  "VP"
                ],
                "example": "P",
                "nullable": true
              },
              "combinedMpg": {
                "type": "integer",
                "example": 53.3,
                "nullable": true
              },
              "cylinderLayout": {
                "type": "string",
                "enum": [
                  "Flat",
                  "Inline",
                  "Not Applicable",
                  "Other",
                  "V",
                  "W"
                ],
                "example": null,
                "nullable": true
              },
              "dateLastColourChange": {
                "type": "string",
                "format": "date",
                "example": "2012-04-01",
                "nullable": true
              },
              "derivative": {
                "type": "string",
                "example": "AMG Sport Plus",
                "nullable": true
              },
              "description": {
                "type": "string",
                "example": "C250 AMG Sport Plus BlueEFFICIENCY CDI 2.2L 201bhp Automatic Diesel Coupe 2dr",
                "nullable": true
              },
              "doors": {
                "type": "integer",
                "example": 2,
                "nullable": true
              },
              "engineCapacity": {
                "type": "integer",
                "example": 2143,
                "nullable": true
              },
              "engineNumber": {
                "type": "string",
                "example": "DEUA014868",
                "nullable": true
              },
              "enginePosition": {
                "type": "string",
                "enum": [
                  "Front",
                  "Front & Rear",
                  "Mid",
                  "Not Applicable",
                  "Other",
                  "Rear"
                ],
                "example": null,
                "nullable": true
              },
              "extraUrbanMpg": {
                "type": "integer",
                "example": 57.7,
                "nullable": true
              },
              "fuelDelivery": {
                "type": "string",
                "enum": [
                  "Injection",
                  "Naturally Aspirated",
                  "Not Applicable",
                  "Supercharged Injection",
                  "Turbo",
                  "Turbo Injection"
                ],
                "example": "Turbo",
                "nullable": true
              },
              "fuelType": {
                "type": "string",
                "enum": [
                  "Diesel",
                  "Diesel/CNG",
                  "Diesel/Hybrid Electric",
                  "Electric",
                  "Petrol",
                  "Petrol/Bio-Ethanol",
                  "Petrol/CNG",
                  "Petrol/Hybrid Electric",
                  "Petrol/LPG"
                ],
                "example": "Diesel",
                "nullable": true
              },
              "gears": {
                "type": "integer",
                "example": 7,
                "nullable": true
              },
              "grossWeight": {
                "type": "integer",
                "example": 2130,
                "nullable": true
              },
              "imported": {
                "type": "boolean",
                "example": false
              },
              "kerbWeight": {
                "type": "integer",
                "example": 1660,
                "nullable": true
              },
              "make": {
                "type": "string",
                "enum": [
                  "Abarth",
                  "Aixam",
                  "AJS",
                  "Alfa Romeo",
                  "Alpine",
                  "Aprilia",
                  "Aston Martin",
                  "Audi",
                  "Auto-Sleepers",
                  "Bailey",
                  "Bentley",
                  "Beta",
                  "BMW",
                  "BMW Alpina",
                  "BSA",
                  "BYD",
                  "Cadillac",
                  "CCM",
                  "CF Moto",
                  "Chevrolet",
                  "Chrysler",
                  "Citroen",
                  "Corvette",
                  "Cupra",
                  "Dacia",
                  "Daewoo",
                  "Daihatsu",
                  "Daimler",
                  "DFSK",
                  "Dodge",
                  "DS Automobiles",
                  "Ducati",
                  "Ferrari",
                  "Fiat",
                  "Fisker",
                  "Ford",
                  "Genesis Motor",
                  "Great Wall",
                  "GWM ORA",
                  "Harley-Davidson",
                  "Herald Motor Co",
                  "Honda",
                  "Husqvarna",
                  "Hyundai",
                  "Ineos",
                  "Infiniti",
                  "Isuzu",
                  "Isuzu Trucks",
                  "Iveco",
                  "Jaecoo",
                  "Jaguar",
                  "Jeep",
                  "Kawasaki",
                  "Keeway",
                  "KGM",
                  "Kia",
                  "KTM",
                  "Kymco",
                  "Lamborghini",
                  "Lambretta",
                  "Land Rover",
                  "LDV",
                  "Leapmotor",
                  "LEVC",
                  "Lexus",
                  "Lotus",
                  "LTI Taxis",
                  "MAN",
                  "Maserati",
                  "Maxus",
                  "Mazda",
                  "McLaren",
                  "Mercedes-Benz",
                  "Metrocab",
                  "MG",
                  "Microcar",
                  "MINI",
                  "Mitsubishi",
                  "Mitsubishi Fuso",
                  "Mitsubishi Trucks",
                  "Morgan",
                  "Moto Guzzi",
                  "Motorini",
                  "MV Agusta",
                  "Neco",
                  "Nissan",
                  "Omoda",
                  "Opel",
                  "Perodua",
                  "Peugeot",
                  "Piaggio",
                  "Polestar",
                  "Porsche",
                  "Proton",
                  "Renault",
                  "Renault Trucks",
                  "Rolls Royce",
                  "Rover",
                  "Royal Enfield",
                  "Saab",
                  "Santana",
                  "SEAT",
                  "Sinnis",
                  "Skoda",
                  "Smart",
                  "SsangYong",
                  "Subaru",
                  "Suzuki",
                  "SYM",
                  "TATA",
                  "Tesla",
                  "Toyota",
                  "Triumph",
                  "TVR",
                  "Vauxhall",
                  "Vespa",
                  "Volkswagen",
                  "Volvo",
                  "Yamaha",
                  "Zontes"
                ],
                "example": "Mercedes-Benz"
              },
              "marketSectorLineShorthand": {
                "type": "string",
                "enum": [
                  "AA",
                  "BA",
                  "BB",
                  "CA",
                  "CB",
                  "CC",
                  "DA",
                  "DB",
                  "DC",
                  "EA",
                  "MA"
                ],
                "example": "AA",
                "nullable": true
              },
              "model": {
                "type": "string",
                "example": "C Class Coupe",
                "nullable": true
              },
              "numberCylinders": {
                "type": "integer",
                "example": 4,
                "nullable": true
              },
              "numberOfPreviousColours": {
                "description": "If there are no previous colours, returns an integer `0`.\nIf there are previous colours, returns a string in the format `\"1.0\"`, `\"2.0\"`, etc.\n",
                "oneOf": [
                  {
                    "type": "integer",
                    "example": 0
                  },
                  {
                    "type": "string",
                    "example": "1.0"
                  }
                ],
                "nullable": true
              },
              "numberValves": {
                "type": "integer",
                "example": 16,
                "nullable": true
              },
              "originalColourCode": {
                "type": "string",
                "enum": [
                  "A",
                  "B",
                  "C",
                  "CM",
                  "CP",
                  "D",
                  "E",
                  "EL",
                  "EP",
                  "EV",
                  "F",
                  "G",
                  "H",
                  "HF",
                  "J",
                  "JJ",
                  "JM",
                  "JP",
                  "JV",
                  "K",
                  "L",
                  "LM",
                  "LP",
                  "M",
                  "MC",
                  "MP",
                  "N",
                  "NJ",
                  "NL",
                  "NP",
                  "P",
                  "PL",
                  "PM",
                  "PP",
                  "R",
                  "S",
                  "SP",
                  "T",
                  "U",
                  "UP",
                  "VP",
                  "W"
                ],
                "example": "P",
                "nullable": true
              },
              "powerOutputBhp": {
                "type": "integer",
                "example": 201,
                "nullable": true
              },
              "powerOutputKw": {
                "type": "integer",
                "example": 150,
                "nullable": true
              },
              "scrapped": {
                "type": "boolean",
                "example": false
              },
              "seats": {
                "type": "integer",
                "example": 4,
                "nullable": true
              },
              "soundLevelEngineSpeed": {
                "type": "integer",
                "example": 3000,
                "nullable": true
              },
              "soundLevelStationary": {
                "type": "integer",
                "example": 71,
                "nullable": true
              },
              "steeringPosition": {
                "type": "string",
                "enum": [
                  "Central Drive",
                  "Left Hand Drive",
                  "LHD",
                  "RHD",
                  "Right Hand Drive"
                ],
                "example": "Right Hand Drive",
                "nullable": true
              },
              "stroke": {
                "type": "integer",
                "example": 88,
                "nullable": true
              },
              "transmission": {
                "type": "string",
                "enum": [
                  "Automated Manual",
                  "Automatic",
                  "CVT",
                  "Manual",
                  "Semi Automatic"
                ],
                "example": "Semi Automatic",
                "nullable": true
              },
              "type": {
                "type": "string",
                "enum": [
                  "Car",
                  "HCV",
                  "LCV",
                  "Motorcycle",
                  "Motorhome"
                ],
                "example": "Car",
                "nullable": true
              },
              "urbanColdMpg": {
                "type": "integer",
                "example": 47.1,
                "nullable": true
              },
              "wheelPlan": {
                "type": "string",
                "enum": [
                  "2 WHEEL",
                  "3 WHEEL",
                  "2 AXLE RIGID BODY",
                  "3 AXLE RIGID BODY",
                  "MULTI AXLE RIGID",
                  "3 WHEEL + ARTIC",
                  "2 AXLE + ARTIC",
                  "3 AXLE + ARTIC",
                  "MULTI AXLE + ARTIC",
                  "CRAWLER",
                  "2 AXLE + 2 AXLE ARTIC",
                  "2 AXLE + 3 AXLE ARTIC",
                  "3 AXLE + 2 AXLE ARTIC",
                  "3 AXLE + 3 AXLE ARTIC",
                  "NON STANDARD",
                  "NOT RECORDED",
                  "ARTICULATED"
                ],
                "example": "2 AXLE RIGID BODY",
                "nullable": true
              },
              "wheelbase": {
                "type": "integer",
                "example": 2760,
                "nullable": true
              },
              "wheelbaseType": {
                "type": "string",
                "enum": [
                  "Extra Long Wheelbase",
                  "Long Wheelbase",
                  "Medium Wheelbase",
                  "Short Wheelbase"
                ],
                "example": "Short Wheelbase",
                "nullable": true
              },
              "year": {
                "type": "integer",
                "example": 2013,
                "nullable": true
              },
              "yearlyTaxCost": {
                "type": "integer",
                "example": 190,
                "nullable": true
              }
            }
          }
        }
      },
      "thatchams-core": {
        "type": "object",
        "properties": {
          "make": {
            "type": "string",
            "example": "BMW"
          },
          "model": {
            "type": "string",
            "example": "3 Series Hybrid PHEV"
          },
          "core": {
            "type": "object",
            "properties": {
              "legacyVehicleDescription": {
                "type": "string",
                "nullable": true
              },
              "kerbWeight": {
                "type": "integer",
                "nullable": true
              },
              "aspirationType": {
                "type": "string",
                "nullable": true
              },
              "tviCode": {
                "type": "string",
                "nullable": true
              },
              "aebType": {
                "type": "string",
                "nullable": true
              },
              "endDate": {
                "type": "string",
                "nullable": true,
                "format": "date"
              },
              "grossWeight": {
                "type": "integer",
                "nullable": true
              },
              "bodyStyle": {
                "type": "string",
                "nullable": true
              },
              "wheelBaseType": {
                "type": "string",
                "nullable": true
              },
              "totalHeight": {
                "type": "integer",
                "nullable": true
              },
              "legacyFuelCode": {
                "type": "string",
                "nullable": true
              },
              "dataVersion": {
                "type": "string",
                "nullable": true
              },
              "totalWidth": {
                "type": "integer",
                "nullable": true
              },
              "transmissionType": {
                "type": "string",
                "nullable": true
              },
              "secondaryFuelType": {
                "type": "string",
                "nullable": true
              },
              "gr20Actual": {
                "type": "string",
                "nullable": true
              },
              "totalLength": {
                "type": "integer",
                "nullable": true
              },
              "wheelBaseTypeCode": {
                "type": "string",
                "nullable": true
              },
              "model": {
                "type": "string",
                "nullable": true
              },
              "primaryFuelTypeCode": {
                "type": "string",
                "nullable": true
              },
              "securityCategory": {
                "type": "string",
                "nullable": true
              },
              "updateReason": {
                "type": "string",
                "nullable": true
              },
              "groupRatingSuffix": {
                "type": "string",
                "nullable": true
              },
              "abiCode": {
                "type": "string",
                "nullable": true
              },
              "linkedAbiCode": {
                "type": "integer",
                "nullable": true
              },
              "trimLevel": {
                "type": "string",
                "nullable": true
              },
              "driveTypeCode": {
                "type": "string",
                "nullable": true
              },
              "roofHeightTypeCode": {
                "type": "string",
                "nullable": true
              },
              "powerOutput": {
                "type": "integer",
                "nullable": true
              },
              "startDate": {
                "type": "string",
                "nullable": true,
                "format": "date"
              },
              "numberOfDoors": {
                "type": "integer",
                "nullable": true
              },
              "maxPayload": {
                "type": "integer",
                "nullable": true
              },
              "productionEndYear": {
                "type": "integer",
                "nullable": true
              },
              "aspirationTypeCode": {
                "type": "string",
                "nullable": true
              },
              "cubicCapacity": {
                "type": "integer",
                "nullable": true
              },
              "driveType": {
                "type": "string",
                "nullable": true
              },
              "bodyStyleCode": {
                "type": "string",
                "nullable": true
              },
              "lastUpdate": {
                "type": "string",
                "nullable": true,
                "format": "date-time"
              },
              "electricVehicleTypeCode": {
                "type": "string",
                "nullable": true
              },
              "wheelBaseLength": {
                "type": "integer",
                "nullable": true
              },
              "series": {
                "type": "integer",
                "nullable": true
              },
              "legacyTransmissionCode": {
                "type": "string",
                "nullable": true
              },
              "secondaryFuelTypeCode": {
                "type": "string",
                "nullable": true
              },
              "abiCodeHistory": {
                "type": "string",
                "nullable": true
              },
              "primaryFuelType": {
                "type": "string",
                "nullable": true
              },
              "updatedData": {
                "type": "string",
                "nullable": true
              },
              "nominalStartYear": {
                "type": "integer",
                "nullable": true
              },
              "vehicleType": {
                "type": "string",
                "nullable": true
              },
              "gr50Actual": {
                "type": "string",
                "nullable": true
              },
              "enhancedVehicleDescription": {
                "type": "string",
                "nullable": true
              },
              "roofHeightType": {
                "type": "string",
                "nullable": true
              },
              "numberOfSeats": {
                "type": "integer",
                "nullable": true
              },
              "transmissionTypeCode": {
                "type": "string",
                "nullable": true
              },
              "electricVehicleType": {
                "type": "string",
                "nullable": true
              },
              "manufacturer": {
                "type": "string",
                "nullable": true
              },
              "engineLabel": {
                "type": "string",
                "nullable": true
              },
              "co2EmissionsGKm": {
                "type": "integer",
                "nullable": true
              },
              "updateReasonHistory": {
                "type": "string",
                "nullable": true
              },
              "abiDescription": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "similar-listings-filters": {
        "type": "object",
        "properties": {
          "colours": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "brown"
            }
          },
          "years": {
            "type": "array",
            "description": "Vehicle year",
            "items": {
              "type": "number",
              "example": 2001
            }
          },
          "live": {
            "type": "boolean",
            "description": "Listing status (omit to return all results)",
            "example": true
          },
          "keywords": {
            "type": "array",
            "description": "Search advert text by keyword (only listings with advert text containing **all** keywords returned)",
            "items": {
              "type": "string",
              "example": "Alloy wheels, leather seats, sunroof"
            }
          },
          "mileage": {
            "type": "object",
            "description": "Listing mileage",
            "properties": {
              "min": {
                "type": "number",
                "example": 1234,
                "minimum": 0
              },
              "max": {
                "type": "number",
                "example": 54321
              },
              "nearest": {
                "type": "number",
                "description": "Used with the sort option of `nearestMileage`",
                "example": 54321
              }
            }
          },
          "distance": {
            "type": "number",
            "description": "Filter listings outside of requested radius (miles)",
            "example": 999,
            "minimum": 0
          },
          "dealerTypes": {
            "type": "array",
            "description": "Filter by dealer type (omit to return all results)",
            "items": {
              "type": "string",
              "enum": [
                "franchise",
                "independent",
                "supermarket"
              ]
            }
          },
          "fromDate": {
            "type": "string",
            "format": "date",
            "description": "Inclusive lower bound on the vehicle's last sale event date (last seen), in ISO 8601 format (`YYYY-MM-DD`). Omit to leave the lower bound open.",
            "example": "2026-01-01"
          },
          "toDate": {
            "type": "string",
            "format": "date",
            "description": "Inclusive upper bound on the vehicle's last sale event date (last seen), in ISO 8601 format (`YYYY-MM-DD`). Must be greater than or equal to fromDate when both are supplied. Omit to leave the upper bound open.",
            "example": "2026-01-31"
          },
          "youngUsed": {
            "type": "boolean",
            "description": "Filter by young-used status (omit to return all results)",
            "example": false
          },
          "trade": {
            "type": "boolean",
            "description": "Filter by trade `true` or private `false` listings (omit to return all results)"
          },
          "categories": {
            "type": "array",
            "description": "Filter by the vehicle write-off category (C, D, S, N, or None for no write-off). Omit to return all results.",
            "items": {
              "type": "string",
              "enum": [
                "C",
                "D",
                "S",
                "N",
                "None"
              ]
            }
          }
        }
      },
      "similar-listings-aggregations": {
        "type": "object",
        "properties": {
          "dealerIndependent": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "integer",
                  "enum": [
                    0,
                    1
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "sold": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "integer",
                  "enum": [
                    0,
                    1
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "colour": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "dealerMain": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "integer",
                  "enum": [
                    0,
                    1
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "plateYear": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "integer",
                  "enum": [
                    0,
                    1
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "dealerSupermarket": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "integer",
                  "enum": [
                    0,
                    1
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "saleType": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "enum": [
                    "trade",
                    "private"
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "category": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "enum": [
                    "C",
                    "D",
                    "S",
                    "N"
                  ]
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "similar-listings-3_0": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "averagePrice": {
            "type": [
              "integer",
              "null"
            ]
          },
          "listings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "description": {
                  "type": "string"
                },
                "year": {
                  "type": "integer"
                },
                "firstSeen": {
                  "type": "string",
                  "format": "date-time"
                },
                "lastSeen": {
                  "type": "string",
                  "format": "date-time"
                },
                "colour": {
                  "type": "string"
                },
                "fuelType": {
                  "type": "string"
                },
                "price": {
                  "type": "integer"
                },
                "mileage": {
                  "type": "integer"
                },
                "transmission": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string"
                    }
                  }
                },
                "engineCapacity": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "integer"
                    },
                    "display": {
                      "type": "string"
                    }
                  }
                },
                "dealer": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "Franchise",
                        "Independent",
                        "Supermarket"
                      ]
                    },
                    "name": {
                      "type": "string"
                    },
                    "dealerIds": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    }
                  },
                  "additionalProperties": false
                },
                "adText": {
                  "type": "string"
                },
                "location": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "postcode": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "vrm": {
                  "type": "string"
                },
                "soldDate": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time"
                },
                "images": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "insights": {
                  "type": "object",
                  "properties": {
                    "writeoffCategory": {
                      "type": "string",
                      "nullable": true,
                      "enum": [
                        "C",
                        "D",
                        "S",
                        "N"
                      ]
                    }
                  },
                  "additionalProperties": false
                }
              },
              "additionalProperties": false
            }
          },
          "criteria": {
            "type": "object",
            "properties": {
              "vrm": {
                "type": "string"
              },
              "sort": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "order": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "filters": {
                "$ref": "#/components/schemas/similar-listings-filters"
              },
              "location": {
                "type": "object",
                "properties": {
                  "lat": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "lon": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "additionalProperties": false
              },
              "mileage": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "valuation": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "year": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "showFilters": {
                "type": "boolean"
              },
              "showCriteria": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          "filters": {
            "$ref": "#/components/schemas/similar-listings-aggregations"
          }
        }
      }
    },
    "responses": {
      "400": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Bad Request response",
              "properties": {
                "error": {
                  "type": "object",
                  "description": "Error block",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "default": 400
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Bad Request"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "vrm or vin is required"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "403": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Forbidden response",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Error message",
                  "example": "Access to this API has been disallowed"
                }
              }
            }
          }
        }
      },
      "404": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Not Found response",
              "properties": {
                "error": {
                  "type": "object",
                  "description": "Error block",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "default": 404
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "example": "VRM unavailable"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "500": {
        "description": "Error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Error response",
              "properties": {
                "error": {
                  "type": "object",
                  "description": "Error block",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "The HTTP status code.",
                      "default": 500
                    },
                    "message": {
                      "type": "string",
                      "description": "Error message",
                      "example": "Server Error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "multi-request": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "SUCCESS",
                    "FAIL",
                    "VALIDATION"
                  ]
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "advertFeatureSet": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/advert-feature-set"
                        },
                        {
                          "type": "null",
                          "description": "If the advert feature set dataset is not available for the vehicle, this will be null"
                        }
[...]
